*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    color:rgb(59, 59, 173);
}
.container{
    display: flex;
    padding:1rem;
    text-align:center;
    justify-content:space-between;
}
.cart-end{
    display: flex;
}
.container #items-amt{
    border: 2px solid black;
    padding:0.5px 0.5px;
    border-radius: 50%;
    background-color:rgb(209, 44, 44);
}
.items-container >div {
    display: flex;
    justify-content:space-evenly;
    border: 1px solid grey;
    background-color:grey;
    flex:2;
}
.productandcart{
    display: flex;
    justify-content:space-between;
}
.item-container{
    display:flex;
    
}
